/* ESTILO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #a79d9d;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #000;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #a30404;
}

/* ESTILO DO CABEÇALHO */


header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #a30404;
    text-decoration: none;
    
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #f30505;
    transform: scale(1.15);

}

.inicio, .especialidades, .sobre {
    padding: 0 40px;
}

header nav ul {
    list-style: none;
    padding: 0 40px;
}

header nav ul li {
    display: inline-block;
}


.btn-contato button:hover {
    box-shadow: 0px 0px 8px #f30505;
    transform: scale(1.05);
}

/* topo do site */

section .image-flutuante img {
    width: 300px;
    border-radius: 100px;

}

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #a30404;
}

.topo-do-site .txt-topo-site p {
    margin: 40px 0;

}

.topo-do-site .image-flutuante img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

.btn-contato button {
    color: #a30404;
}

/*ESTILO DAS REDES SOCIAIS*/
section.redes-sociais {
    padding: 40px 4%;
}

.redes-sociais .redes-sociais-box {
    padding: 40px;
}

.redes-sociais .redes-sociais-box i {
    font-size: 70px;
}

